body {
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
}

h1, h2, h3 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
}

h1, h2 {
  font-weight: normal;
}

h3 {
  font-size: 36px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after, .container::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-bg-darkblue {
  background-color: #293449;
}

.main-header .wrapper-bg-darkblue {
  height: 42px;
}

.wrapper-bg-lightblue {
  background-color: #f1f5f7;
}

.wrapper-bg-blue {
  background-color: #32425c;
}

.col-x3 {
  font-size: 0;
}

.col-x3>div, .col-x3>section {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;
}

.col-x3 div:nth-child(3n), .col-x3>section:nth-child(3n) {
  margin-right: 0;
}


/*===========================================================
 main-header
============================================================*/

.top-inline-block {
  font-size: 0;
}

.top-inline-block>* {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: initial;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.top-right-widget {
  float: right;
  margin-top: -46px;
}

.top-right-widget div {
  float: left;
}

.logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  width: 110px;
  height: 18px;
  padding: 12px 55px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  position: relative;
  width: 268px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.2em;
}

.search:hover {
  background-color: #212a3a;
}

.search input {
  width: 100%;
  padding: 11px 0;
  padding-left: 48px;
  font-family: inherit;
  color: #ffffff;
  background-color: #293449;
  border: none;
  box-sizing: border-box;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
}

.search input::-moz-placeholder {
  color: #ffffff;
}


/* Firefox 19+ */

.search input:-moz-placeholder {
  color: #ffffff;
}


/* Firefox 18- */

.search input:-ms-input-placeholder {
  color: #ffffff;
}

.search label {
  position: absolute;
  left: 48px;
  top: 11px;
  padding-left: 48px;
  font-size: 0;
  opacity: 1;
}

.search label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -31px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -724px -20px;
  opacity: 0.3;
}

.search:hover label::before {
  opacity: 1;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus, .search input:focus+label::before {
  background-color: #ffffff;
  color: #000000;
}

.search input:focus+label {
  background-color: transparent;
  font-size: 0;
}

.search input:focus+label::before {
  background-position: -781px -20px;
  opacity: 1;
}

.bookmarks, .cart-widget {
  position: relative;
  padding: 12px 10px 12px 47px;
  box-sizing: border-box;
  width: 151px;
  text-decoration: none;
}

.bookmarks.filled, .cart-widget.filled {
  background-color: #ee3643;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 19px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -77px -20px;
  opacity: 0.3;
}

.cart-widget::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  left: 13px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -20px -20px;
  opacity: 0.3;
}

.bookmarks:hover, .bookmarks:hover::before, .cart-widget:hover, .cart-widget:hover::before {
  background-color: #212a3a;
  opacity: 1;
}

.btn-order {
  padding: 12px 21px 12px 20px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  background-color: #63a63e;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}

.tagline, .header-contact, .auth-block {
  margin-top: 33px;
  margin-bottom: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 1.2em;
}

.tagline {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.tagline p {
  padding-left: 52px;
  padding-right: 50px;
}

.header-contact {
  margin-top: 59px;
}

.header-contact .contact-phone {
  position: relative;
  padding: 10px 53px 11px 74px;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #ee3643;
  letter-spacing: 0.04px;
  box-shadow: inset 0 0 0 3px #ffffff;
}

.header-contact .contact-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 15px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -665px -20px;
}

.header-contact .contact-address {
  margin-left: 10px;
  margin-top: 18px;
  letter-spacing: 0.15px;
  font-size: 14px;
  color: #32425c;
}

.col-x3 .auth-block {
  font-size: 0;
  text-align: right;
  margin-top: 46px;
}

.auth-block a {
  display: inline-block;
  vertical-align: top;
  padding: 12px 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 1em;
  text-decoration: none;
}

.auth-block .auth-link::before, .auth-block .profile-link::before, .auth-block .logout-link::before {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.auth-block .auth-link {
  position: relative;
  padding-left: 45px;
  padding-right: 24px;
  margin-right: 12px;
}

.auth-block .auth-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 21px;
  left: 12px;
  background-position: -423px -18px;
}

.auth-block .auth-reg {
  padding-left: 24px;
  padding-right: 24px;
}

.auth-block a:hover {
  color: #ee3643;
}

.auth-block a.auth-link:hover::before {
  background-position: -483px -18px;
}

.auth-block a.auth-link:active::before {
  background-position: -423px -18px;
}

.auth-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.auth-block .profile-link {
  position: relative;
  padding-left: 48px;
  padding-right: 20px;
}

.auth-block .profile-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 21px;
  left: 12px;
  background-position: -838px -20px;
}

.auth-block .profile-link:hover::before {
  background-position: -898px -20px;
}

.auth-block .profile-link:active::before {
  background-position: -838px -20px;
}

.auth-block .logout-link {
  position: relative;
  width: 46px;
  height: 21px;
  font-size: 0;
}

.auth-block .logout-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 21px;
  left: 12px;
  background-position: -604px -20px;
}

.auth-block .logout-link:hover::before {
  background-position: -543px -20px;
}

.auth-block .logout-link:active::before {
  background-position: -604px -20px;
}

.auth-block .orders-link, .auth-block .account-link {
  position: relative;
  float: left;
  padding: 8px 13px 8px 19px;
  font-size: 16px;
  line-height: 1.2em;
  color: #32425c;
  background-color: transparent;
  text-decoration: underline;
}

.auth-block .orders-link:hover, .auth-block .account-link:hover {
  color: #ee3643;
}

.auth-block .orders-link:active, .auth-block .account-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.orders-link+.account-link {
  position: relative;
}

.account-link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 2px;
  top: 15px;
  background-color: #32425c;
  border-radius: 50%;
}

.main-menu {
  width: 940px;
  margin-bottom: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
}

.main-menu a {
  display: block;
  color: white;
  padding: 20px 28px 23px 28px;
  text-decoration: none;
}

.main-menu li:last-child a {
  padding-right: 50px;
}

.main-menu li:first-child a {
  padding-left: 52px;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  background-color: #1d2739;
  color: rgba(256, 256, 256, 0.5);
}


/*===========================================================
 Promo-block
============================================================*/

.promo-block {
  padding-top: 59px;
  margin-bottom: 33px;
}

.promo-block::after {
  content: "";
  display: table;
  clear: both;
}

.promo-block h3 {
  margin-left: -2px;
  margin-top: 21px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  text-transform: inherit;
  color: white;
  font-weight: bold;
}

.promo-item {
  position: relative;
  width: 276px;
  height: 123px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.promo-item:nth-child(3) {
  margin-left: 0;
}

.promo-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.promo-item a {
  padding: 12px 25px 9px 25px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item.material::after {
  width: 44px;
  height: 65px;
  right: 43px;
  top: 31px;
  background-image: url("../img/promo-material.png");
}

.promo-item.instrument::after {
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
  background-image: url("../img/promo-instrument.png");
}

.promo-item.equipment::after {
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url("../img/promo-equipment.png");
}

.promo-item.discounts::after {
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url("../img/promo-cart.png");
}

.promo-item.delivery::after {
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url("../img/promo-delivery.png");
}

.material {
  background-color: #f6b22d;
}

.instrument {
  background-color: #4aafde;
}

.equipment {
  background-color: #cc79d1;
}

.discounts {
  background-color: #85d179;
}

.delivery {
  background-color: #f6b22d;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: transparent url("../img/new-flag.png") no-repeat 0 0;
}


/* ============================================
slider
===========================================*/

.slider {
  width: 596px;
  height: 266px;
  float: left;
  position: relative;
  margin-left: 0;
}

.slider-control {
  position: absolute;
  width: 575px;
  bottom: 22px;
  z-index: 20;
  font-size: 0;
  text-align: center;
}

.slider-control a {
  width: 22px;
  height: 40px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  background-repeat: no-repeat;
}

.slider-control .prev, .slider-control .next {
  position: absolute;
}

.slider-control .prev::before, .slider-control .prev::after, .slider-control .next::before, .slider-control .next::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider-control .prev::before, .slider-control .next::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider-control .prev::after, .slider-control .next::after {
  top: 19px;
}

.slider-control .prev:hover, .slider-control .next:hover {
  background-color: transparent;
  opacity: 0.3;
}

.slider-control .prev:active, .slider-control .next:active {
  background-color: transparent;
  opacity: 0.2;
}

.slider-control .prev {
  left: -13px;
  top: -97px;
}

.slider-control .next {
  top: -97px;
  right: 13px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background: white;
  border: 2px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-control label[for="btn-1"], #btn-2:checked~.slider-control label[for="btn-2"], #btn-3:checked~.slider-control label[for="btn-3"] {
  background: #ee3643;
}

.slider-list {
  margin-left: -24px;
  font-size: 0;
}

.slider-list .slide-text {
  position: absolute;
  width: 338px;
  top: 27px;
  left: 25px;
  font-size: 24px;
  color: white;
}

.slide-text h3 {
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.slide-text p {
  margin: 0;
  margin-top: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.slide-text .btn {
  position: absolute;
  top: 180px;
}

.slide-text .btn, .btn {
  padding: 11px 45px;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ee3643;
}

.slide-text .btn:hover, .btn:hover {
  background-color: #ca2c37;
}

.slide-text .btn:active, .btn:active {
  background-color: #ba2732;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide:nth-child(1) {
  background-color: #97918f;
  background-image: url('../img/slide-1.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide:nth-child(2) {
  background-color: #9b806a;
  background-image: url('../img/slide-2.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide {
  display: none;
}

#btn-1:checked~.slider-list .slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.slider-list .slide:nth-child(2) {
  display: block;
}

#btn-3:checked~.slider-list .slide:nth-child(3) {
  display: block;
}


/*===========================================================
 viewed
============================================================*/

.viewed {}

.viewed h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  padding-left: 25px;
  background-color: #f7f3ec;
}

.popgoods-block .btn, .producers-block .btn {
  float: right;
  padding: 10px 54px;
  margin-top: -85px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
}

.producers-block .btn {
  padding: 10px 68px;
}

.popgoods-list, .producers-list {
  font-size: 0;
}

.producers-block {
  margin-bottom: 65px;
}

.popgoods-item, .producers-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.popgoods-item .on-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.popgoods-item .on-hover .in-cart, .popgoods-item .on-hover .in-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.popgoods-item .on-hover {
  display: none;
}

.popgoods-item:hover .on-hover {
  display: block;
}

.popgoods-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popgoods-item .on-hover .in-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.on-hover .in-cart:hover {
  background-color: #5fbb2d;
  border-top-color: #5fbb2d;
  border-right-color: #5fbb2d;
  border-left-color: #5fbb2d;
}

.on-hover .in-cart:active {
  background-color: #63a63e;
  border-color: #63a63e;
}

.on-hover .in-cart::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  margin-left: -36px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -20px -20px;
  opacity: 0.3;
}

.on-hover .in-cart:hover::before, .on-hover .in-cart:active::before {
  opacity: 1;
}

.on-hover .in-bookmarks:hover {
  border-color: #32425c;
}

.on-hover .in-bookmarks:active {
  border-color: rgba(50, 66, 92, 0.3);
}

.popgoods-item .image {
  width: 218px;
  height: 168px;
}

.image img {
  max-width: 100%;
}

.popgoods-item .title {
  min-height: 40px;
  padding: 0 18px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.popgoods-item .old-price {
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
  margin-left: 4px;
}

.popgoods-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
}

.popgoods-item .old-price+.price {
  margin-top: 10px;
}

.popgoods-item .price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.viewed .popgoods-item:nth-child(4n), .viewed .producers-item:nth-child(4n) {
  margin-right: 0;
}

.producers-item {
  width: 218px;
  height: 143px;
}

.producers-item .image {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image img {
  max-width: 100%;
  height: auto;
}

.producers-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}


/*===========================================================
 services-block
============================================================*/

.services-block {
  padding: 55px 0;
}

.services-block h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 26px;
}

.services-pretext {
  padding-bottom: 25px;
}

.services-pretext p {
  margin: 0;
  padding: 0;
}

.services-slider {
  position: relative;
  width: 100%;
  padding-top: 43px;
}

.services-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 272px;
  top: 0;
  left: 230px;
  background-image: url("../img/services-separate.png");
  background-repeat: no-repeat;
}

.services-slider .services-tabs {
  float: left;
  width: 218px;
  position: relative;
}

.services-slider input:checked, .services-slider input:not(:checked) {
  display: none;
}

.services-tabs label {
  display: block;
  width: 218px;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069, 0 1px 0 0 #293449;
}

.services-tabs label:hover {
  background-color: #293449;
}

#service-1:checked~.services-tabs label[for="service-1"], #service-2:checked~.services-tabs label[for="service-2"], #service-3:checked~.services-tabs label[for="service-3"], #service-4:checked~.services-tabs label[for="service-4"] {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069;
}

#service-1:checked~.services-tabs label[for="service-1"] {
  box-shadow: 0 1px 0 0 #293449;
}

.services-slider input:not(:checked)+label:hover {
  background-color: #293449;
  cursor: pointer;
}

.services-slides .slide {
  display: none;
  position: relative;
  width: 340px;
  padding-right: 280px;
  min-height: 230px;
}

#service-1:checked~.services-slides .slide:nth-child(1) {
  display: block;
}

#service-2:checked~.services-slides .slide:nth-child(2) {
  display: block;
}

#service-3:checked~.services-slides .slide:nth-child(3) {
  display: block;
}

.services-slides {
  position: relative;
  float: right;
  width: 620px;
}

.services-slides h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.services-slides p {
  margin: 0;
}

.services-slides p:last-of-type {
  margin-bottom: 30px;
}

.services-slides .slide:nth-child(1) {
  background-image: url(../img/services-car.png);
  background-repeat: no-repeat;
  background-position: 152px 22px;
}

.services-slides .slide:nth-child(2) {
  background-image: url(../img/services-warranty.png);
  background-repeat: no-repeat;
  background-position: 232px 0;
}

.services-slides .slide:nth-child(3) {
  background-image: url(../img/services-credit.png);
  background-repeat: no-repeat;
  background-position: 155px 0;
}


/*===========================================================
 company-info
============================================================*/

.company-info {
  padding-top: 80px;
  padding-bottom: 85px;
  min-height: 370px;
}

.company-info h2 {
  margin: 0;
  line-height: 24px;
  margin-bottom: 30px;
}

.company-info p {
  margin: 0;
  margin-bottom: 23px;
}

.company-info ul {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 35px;
}

ul.style-redline {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 44px;
}

ul.style-redline li {
  position: relative;
  margin-bottom: 19px;
  padding-left: 35px;
}

ul.style-redline li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #fb565a;
}

.about {
  width: 540px;
  float: left;
}

.about .btn {
  padding: 11px 41px;
}

.contacts {
  width: 300px;
  float: right;
}

.image-map {
  display: block;
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 33px;
}

.btn.feedback {
  display: block;
  text-align: center;
}


/*===========================================================
 Внутренная страница
============================================================*/

.breadcrumbs ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: baseline;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li+li {
  position: relative;
  padding-left: 36px;
}

.breadcrumbs li+li::before, .breadcrumbs li+li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  top: 6px;
  left: 12px;
  background-color: #cdd1d8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumbs li+li::after {
  top: 11px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.breadcrumbs li:first-of-type a {
  display: block;
  font-size: 0;
  width: 15px;
  height: 12px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -311px -21px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  ;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

.filter-widget {
  width: 220px;
  float: left;
}

.filter-widget h3, .sort h3 {
  margin: 0;
  margin-bottom: -3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.fieldset-block {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.fieldset-caption {
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.range-runner {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-runner .scale {
  height: 2px;
  background: #d7dcde;
}

.range-runner .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-runner .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-runner .toggle-min {
  left: 20px;
}

.range-runner .toggle-max {
  left: 145px;
}

.fieldset-block input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  width: 95px;
  box-sizing: border-box;
  padding: 8px 0;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.mdash-code {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 1px;
  margin: 10px 6px;
  font-size: 0;
  background-color: #000000;
}

.fieldset-block+.fieldset-block .fieldset-caption {
  border-top: 1px solid #e5e5e5;
}

.fieldset-block input {
  display: none;
}

.fieldset-block label {
  display: block;
  position: relative;
  padding-left: 34px;
  margin-bottom: 20px;
  margin-top: 2px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.fieldset-block input[type="radio"]+label {
  font-size: 14px;
}

.fieldset-block input+label:last-of-type {
  margin-bottom: -5px;
}

.fieldset-block input+label::before, .fieldset-block input+label::after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  left: 1px;
  top: -1px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
}

.fieldset-block input[type="radio"]+label::before, .fieldset-block input[type="radio"]+label::after {
  border-radius: 50%;
  border-width: 3px;
}

.fieldset-block input:checked+label::after {
  left: 6px;
  width: 20px;
  height: 11px;
  top: -9px;
  border: none;
  border-radius: 0;
  box-shadow: -2px 2px 0px 0px #ffffff, -7px 7px 0px 0px #c1c1c0, -5px 7px 0px 2px #ffffff;
  border-top-color: transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fieldset-block input[type="radio"]:checked+label::after {
  width: 8px;
  height: 8px;
  top: 7px;
  left: 9px;
  border: none;
  background-color: #c1c1c1;
  box-shadow: none;
  border-radius: 50%;
}

.filter-widget button[type="submit"] {
  margin-top: 60px;
  padding: 10px 36px 8px 36px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-widget button[type="submit"]:hover {
  background-color: rgba(229, 229, 229, 0.3);
}

.filter-widget button[type="submit"]:active {
  opacity: 0.3;
}

.sort {
  width: 700px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.sort h3 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.sort a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  line-height: 1.2em;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sort a:first-of-type {
  margin-left: 124px;
}

.sort a.current {
  color: #ee3643;
  border: none;
}

.sort .sort-up, .sort .sort-down {
  position: relative;
  font-size: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
}

.sort .sort-up {
  margin-left: 30px;
  bottom: 6px;
  border-bottom-color: #c6c2bd;
}

.sort .sort-down {
  margin-left: 18px;
  top: 5px;
  border-top-color: #c6c2bd;
}

.sort .sort-up:hover {
  border-bottom-color: #000000;
}

.sort .sort-down:hover {
  border-top-color: #000000;
}

.sort .sort-up.сurrent {
  border-bottom-color: #ee3643;
}

.sort .sort-down.сurrent {
  border-top-color: #ee3643;
}

.content-page {
  width: 700px;
  float: right;
}

.content-page .popgoods-item:nth-child(3n) {
  margin-right: 0;
}

.content-page .popgoods-list {
  margin-bottom: 25px;
}

.pagination {
  margin-bottom: 60px;
}

.pagination a {
  display: inline-block;
  margin-right: 6px;
  padding: 6px 12px;
  min-width: 12px;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: top;
  color: #000000;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination a:hover {
  color: #000000;
  border-color: #bdc6ca;
}

.pagination a:active {
  color: #000000;
  border-color: #ee3643;
}

.pagination a.current {
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}

.info-text-block {
  padding: 55px 0;
  margin-bottom: 13px;
}

.info-text-block h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 26px;
}

.info-text-block p {
  margin: 0;
}


/*===========================================================
 Подвал
============================================================*/

.main-footer {
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer p {
  margin: 0;
}

.main-footer .logo {
  float: left;
  width: 220px;
  height: 68px;
}

.logo-footer img {
  width: 138px;
  height: 21px;
  padding: 21px 40px;
}

.footer-menu-1, .footer-menu-2 {
  display: block;
  width: 560px;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 6px;
  font-size: 18px;
  max-width: 700px;
  text-align: right;
}

.footer-menu-2 {
  max-width: 560px;
  padding-top: 27px;
}

.footer-menu-1::after, .footer-menu-2::after {
  content: "";
  clear: both;
}

.footer-menu-1 li, .footer-menu-2 li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 27px;
}

.footer-menu-1 li:first-child, .footer-menu-2 li:first-child {
  padding-left: 0;
}

.footer-menu-1 li:last-child, .footer-menu-2 li:last-child {
  padding-right: 0;
}

.footer-menu-1 a {
  color: white;
  text-decoration: none;
}

.footer-menu-2 a {
  color: #ffd180;
  text-decoration: none;
}

.footer-menu-1 a:hover, .footer-menu-2 a:hover {
  text-decoration: underline;
}

.footer-menu-1 a:active, .footer-menu-2 a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-contacts {
  width: 380px;
  float: left;
  margin-top: 30px;
  margin-bottom: 47px;
  margin-left: 2px;
  font-size: 18px;
}

.contact-phone {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright, .footer-social, .feedback-link {
  padding-top: 37px;
  padding-bottom: 34px;
  font-size: 16px;
  line-height: 18px;
}

.col-x3 section.footer-social {
  text-align: center;
  font-size: 0;
  margin-top: -2px;
  margin-left: -11px;
  margin-right: 31px;
}

.social-btn {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 50%;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn:hover, .social-btn:active {
  background-color: #ee3643;
}

.social-btn.social-btn-vk {
  background-position: -948px -4px;
}

.social-btn.social-btn-fb {
  background-position: -246px -9px;
}

.social-btn.social-btn-inst {
  background-position: -355px -8px;
}

.feedback-link {
  display: inline-block;
}

.feedback-link+.feedback-link {
  margin-left: 50px;
}

.feedback-link a {
  color: #ffd180;
  text-decoration: none;
}

.feedback-link a:hover {
  text-decoration: underline;
}

.feedback-link a:active {
  text-decoration: none;
  color: #ee3643;
}


/*===========================================================
 Модальные формы
============================================================*/

@-webkit-keyframes magnific {
  0% {
    -webkit-transform: translate(157px, -28px) scale(0.03);
    transform: translate(157px, -28px) scale(0.03);
  }
  10% {
    -webkit-transform: translate(154px, -28px) scale(0.05);
    transform: translate(154px, -28px) scale(0.05);
  }
  20% {
    -webkit-transform: translate(136px, -28px) scale(0.1);
    transform: translate(136px, -28px) scale(0.1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

@keyframes magnific {
  0% {
    -webkit-transform: translate(157px, -28px) scale(0.03);
    transform: translate(157px, -28px) scale(0.03);
  }
  10% {
    -webkit-transform: translate(154px, -28px) scale(0.05);
    transform: translate(154px, -28px) scale(0.05);
  }
  20% {
    -webkit-transform: translate(136px, -28px) scale(0.1);
    transform: translate(136px, -28px) scale(0.1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes squeeze {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  50%, 70%, 90% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  60%, 80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes squeeze {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  50%, 70%, 90% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  60%, 80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal-content-feedback {
  display: none;
  position: absolute;
  top: 2520px;
  left: 50%;
  z-index: 20;
  width: 620px;
  margin-left: -310px;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 16px 2px rgba(0, 0, 0, 0.75);
}

.cols-x2 {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.cols-x2:nth-of-type(2n) {
  margin-right: 0;
}

.modal-content-feedback .feedback-form {
  padding: 47px 80px;
  margin-bottom: -30px;
}

.feedback-form label {
  display: block;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.feedback-form input, .feedback-form textarea {
  padding: 10px 0;
  padding-left: 13px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 460px;
}

.wrapper-bg-grey {
  background-color: #f1f1f1;
  padding: 36px 80px;
}

.modal-content-feedback .btn {
  width: 100%;
  border: none;
}

.modal-content-incart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 620px;
  margin-left: -310px;
  margin-top: -137px;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 16px 2px rgba(0, 0, 0, 0.75);
}

.modal-content-incart b {
  display: block;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  margin: 50px 0;
  padding-left: 70px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-content-incart b::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  left: 81px;
  background-color: #63a63e;
  border-radius: 50%;
}

.modal-content-incart b::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 35px;
  left: 104px;
  box-shadow: 7px 7px 0 0 #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-incart .btn {
  width: 220px;
}

.modal-content-incart .btn-close {
  margin-left: 20px;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.modal-content-incart .btn-close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content-incart .btn-close:active {
  background-color: #ffffff;
  opacity: 0.3;
}

.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
  font-family: "Cuprum", "Arial", sans-serif;
  background: #ffffff url("../img/map-popup.jpg");
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.overlay-show {
  display: block;
}

.modal-content-show {
  display: block;
  -webkit-animation: magnific 0.7s;
  animation: magnific 0.7s;
}

.modal-error {
  -webkit-animation: squeeze 0.5s;
  animation: squeeze 0.5s;
}

.modal-content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before, .modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
  border-radius: 1px;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
